<template>
  <section class="d-flex flex-column bg-white rounded p-4 gap-4">
    <h5>Select Bus Line</h5>
    <div class="d-flex flex-wrap gap-2">
      <button
        class="btn line"
        :class="[line === selectedLineNumber ? 'btn-dark' : 'btn-primary']"
        :key="line"
        v-for="line in linesNumbers"
        @click="setLineNumber(line)"
      >
        {{ line }}
      </button>
    </div>
  </section>
  <section class="d-flex flex-grow-1 gap-2">
    <ListItems
      :title="`Bus Line: ${selectedLineNumber || ''}`"
      subTitle="Bus Stops"
      placeholder="Please select the bus line first"
      :list="selectedLineStations"
      v-slot="{ element }"
    >
      <button class="list-group-item list-group-item-action px-4" @click="setStation(element)">
        {{ element }}
      </button>
    </ListItems>
    <ListItems
      :title="`Bus Stop: ${selectedLineStation}`"
      subTitle="Time"
      :placeholder="`${selectedLineNumber ? 'Please select a stop' : 'Please select the bus line first'}`"
      :list="selectedStationTimetable"
      v-slot="{ element }"
    >
      <li class="list-group-item px-4">
        {{ element }}
      </li>
    </ListItems>
  </section>
</template>

<script>
import { mapMutations, mapState, mapGetters } from "vuex";
import ListItems from "../components/ListItems.vue";

export default {
  name: "LinesPage",
  components: { ListItems },
  methods: {
    ...mapMutations(["setLineNumber", "setStation"]),
  },
  computed: {
    ...mapState(["selectedLineNumber", "selectedLineStation"]),
    ...mapGetters([
      "linesNumbers",
      "selectedLineStations",
      "selectedStationTimetable",
    ]),
  },
};
</script>

<style scoped>
.line {
  width: 60px;
}
</style>
