<template>
  <input
      class="form-control"
      placeholder="Search..."
      @input="(event) => debouncedSetBusStopFilter(event.target.value)"
      :value="busStopsFilter"
  />
  <ListItems
      subTitle="Bus Stops"
      placeholder="No stops found"
      :list="filteredStations"
      v-slot="{ element }"
  >
    <li class="list-group-item px-4">
      {{ element }}
    </li>
  </ListItems>
</template>

<script>
import ListItems from "@/components/ListItems.vue";
import { mapGetters, mapState, mapActions } from "vuex";

export default {
  name: "StopsPage",
  components: { ListItems },
  methods: {
    ...mapActions(["debouncedSetBusStopFilter"]),
  },
  computed: {
    ...mapState(["busStopsFilter"]),
    ...mapGetters(["filteredStations"]),
  },
};
</script>
