<template>
  <section class="listItems-wrapper d-flex flex-column bg-white rounded" :class="{'listItems-dashed': !list.length}">
    <template v-if="list.length">
      <p class="gap-2 px-4 py-2" v-if="title">{{ title }}</p>
      <p class="gap-2 px-4 pt-2 pb-4 mb-0 border-bottom">{{ subTitle }}</p>
      <div class="d-flex flex-column flex-grow-1 gap-2">
        <div class="listItems-list flex-grow-1 overflow-scroll">
          <div class="list-group list-group-flush">
            <slot :key="el + index" v-for="(el, index) in list" :element="el"></slot>
          </div>
        </div>
      </div>
    </template>
    <div
      v-else
      class="d-flex flex-grow-1 justify-content-center align-items-center text-center"
    >
      {{ placeholder }}
    </div>
  </section>
</template>

<script>
export default {
  name: "LestItems",
  props: {
    title: String,
    subTitle: {
      type: String,
      required: true,
    },
    list: {
      type: Array,
      required: true,
    },
    placeholder: String,
  },
};
</script>

<style scoped>
.listItems-wrapper {
  flex: 1;
}
.listItems-list {
  flex-basis: 0;
}
.listItems-dashed {
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='4' ry='4' stroke='%23333' stroke-width='3' stroke-dasharray='14' stroke-dashoffset='0' stroke-linecap='round'/%3e%3c/svg%3e");
  border-radius: var(--bs-border-radius);
}
</style>