<template>
  <ul class="nav bg-white px-4 py-2 pb-0 rounded">
    <li class="nav-item">
      <RouterLink to="/" exact-active-class="active" class="nav-link link-dark">
        Lines
      </RouterLink>
    </li>
    <li class="nav-item">
      <RouterLink to="/stops" exact-active-class="active" class="nav-link link-dark">
        Stops
      </RouterLink>
    </li>
  </ul>
</template>

<script>
export default {
  name: "MainNavigation",
};
</script>

<style scoped>
.active {
  border-bottom: 2px solid var(--bs-primary);
}
</style>