<template>
  <main class="d-flex flex-column vw-100 vh-100 gap-2 p-4 bg-light">
    <h2>Timetable</h2>
    <MainNavigation />
    <RouterView />
  </main>
</template>

<script>
import MainNavigation from '@/components/MainNavigation.vue';
export default {
  name: "MainLayout",
  components: { MainNavigation },
  mounted() {
    this.$store.dispatch("loadData");
  },
};
</script>